$fieldset-border-width: 1px !default;
$fieldset-margin: 0 !default;

$legend-font-weight: normal !default;
$legend-font-size: 20px;
$legend-padding-top: 30px !default;
$legend-font-color: #000000;

$fieldset-padding: $legend-font-size 40px 30px !default;